<div class="avaluos-ii-table" role="region" tabindex="0" aria-label="Scenarios in million CLP annual equivalents, 2026H1 general rules. Median and mean include zeros. Not observed tax debt." style="overflow-x:auto"><table><caption>Scenarios in million CLP annual equivalents, 2026H1 general rules. Median and mean include zeros. Not observed tax debt.</caption><thead><tr>
<th scope="col">Commune</th><th scope="col">Residual</th><th scope="col">Median × residual</th><th scope="col">Mean × residual</th><th scope="col">Mean × 50%</th><th scope="col">Mean × 25%</th><th scope="col">Settlements without counts</th>
</tr></thead><tbody>
<tr><th scope="row">Lo Barnechea</th><td>2,300</td><td>4,983.1</td><td>6,669.2</td><td>3,334.6</td><td>1,667.3</td><td>4</td></tr>
<tr><th scope="row">Pucón</th><td>13,707</td><td>450.6</td><td>5,321.9</td><td>2,660.9</td><td>1,330.5</td><td>1</td></tr>
<tr><th scope="row">Zapallar</th><td>1,948</td><td>2,138.8</td><td>5,061.3</td><td>2,530.6</td><td>1,265.3</td><td>0</td></tr>
<tr><th scope="row">Iquique</th><td>18,949</td><td>36.2</td><td>4,308.8</td><td>2,154.4</td><td>1,077.2</td><td>0</td></tr>
<tr><th scope="row">Puerto Varas</th><td>8,693</td><td>122.3</td><td>3,466.9</td><td>1,733.5</td><td>866.7</td><td>0</td></tr>
<tr><th scope="row">Pirque</th><td>4,883</td><td>1,387.6</td><td>3,232.0</td><td>1,616.0</td><td>808.0</td><td>0</td></tr>
<tr><th scope="row">Santo Domingo</th><td>2,765</td><td>1,283.2</td><td>2,023.6</td><td>1,011.8</td><td>505.9</td><td>0</td></tr>
<tr><th scope="row">La Reina</th><td>1,532</td><td>855.5</td><td>1,470.3</td><td>735.1</td><td>367.6</td><td>0</td></tr>
<tr><th scope="row">Algarrobo</th><td>3,201</td><td>562.9</td><td>1,051.7</td><td>525.8</td><td>262.9</td><td>0</td></tr>
<tr><th scope="row">Concón</th><td>2,005</td><td>569.2</td><td>1,046.8</td><td>523.4</td><td>261.7</td><td>2</td></tr>
<tr><th scope="row">Huechuraba</th><td>2,297</td><td>199.0</td><td>919.1</td><td>459.5</td><td>229.8</td><td>1</td></tr>
<tr><th scope="row">Las Condes</th><td>542</td><td>383.1</td><td>631.5</td><td>315.7</td><td>157.9</td><td>0</td></tr>
<tr><th scope="row">Providencia</th><td>918</td><td>330.9</td><td>509.6</td><td>254.8</td><td>127.4</td><td>0</td></tr>
<tr><th scope="row">Papudo</th><td>1,213</td><td>97.7</td><td>368.9</td><td>184.4</td><td>92.2</td><td>0</td></tr>
<tr><th scope="row">San Miguel</th><td>1,984</td><td>63.5</td><td>307.4</td><td>153.7</td><td>76.9</td><td>0</td></tr>
</tbody></table></div>
