<div class="avaluos-ii-table" role="region" tabindex="0" aria-label="Diagnóstico residencial" style="overflow-x:auto">
<table><thead><tr><th scope="col">Comuna</th><th scope="col">CUT</th><th scope="col">Viviendas 2024</th><th scope="col">Roles H 2026S1</th><th scope="col">Diferencia</th></tr></thead><tbody>
<tr><th scope="row">Valparaíso</th><td>05101</td><td>131.986</td><td>99.453</td><td>32.533</td></tr>
<tr><th scope="row">Puerto Montt</th><td>10101</td><td>116.003</td><td>86.967</td><td>29.036</td></tr>
<tr><th scope="row">Los Ángeles</th><td>08301</td><td>93.016</td><td>65.581</td><td>27.435</td></tr>
<tr><th scope="row">Viña del Mar</th><td>05109</td><td>163.365</td><td>139.335</td><td>24.030</td></tr>
<tr><th scope="row">Antofagasta</th><td>02101</td><td>139.716</td><td>117.961</td><td>21.755</td></tr>
<tr><th scope="row">Valdivia</th><td>14101</td><td>72.810</td><td>51.798</td><td>21.012</td></tr>
<tr><th scope="row">Arica</th><td>15101</td><td>84.853</td><td>64.694</td><td>20.159</td></tr>
<tr><th scope="row">Villarrica</th><td>09120</td><td>43.213</td><td>23.141</td><td>20.072</td></tr>
<tr><th scope="row">Iquique</th><td>01101</td><td>75.326</td><td>55.511</td><td>19.815</td></tr>
<tr><th scope="row">Santiago</th><td>13101</td><td>239.172</td><td>219.706</td><td>19.466</td></tr>
<tr><th scope="row">Temuco</th><td>09101</td><td>128.995</td><td>110.572</td><td>18.423</td></tr>
<tr><th scope="row">Melipilla</th><td>13501</td><td>52.214</td><td>35.643</td><td>16.571</td></tr>
<tr><th scope="row">Recoleta</th><td>13127</td><td>55.851</td><td>40.340</td><td>15.511</td></tr>
<tr><th scope="row">Calama</th><td>02201</td><td>60.794</td><td>45.334</td><td>15.460</td></tr>
<tr><th scope="row">Alto Hospicio</th><td>01107</td><td>46.558</td><td>31.190</td><td>15.368</td></tr>
</tbody></table></div>
