<div class="avaluos-ii-table" role="region" tabindex="0" aria-label="Diagnóstico residencial" style="overflow-x:auto">
<table><thead><tr><th scope="col">Comuna</th><th scope="col">CUT</th><th scope="col">Diferencia original</th><th scope="col">Hogares camp. observados</th><th scope="col">Residuo</th><th scope="col">Calidad</th></tr></thead><tbody>
<tr><th scope="row">Valparaíso</th><td>05101</td><td>32.533</td><td>2.572</td><td>29.961</td><td>Parcial</td></tr>
<tr><th scope="row">Puerto Montt</th><td>10101</td><td>29.036</td><td>632</td><td>28.404</td><td>Parcial</td></tr>
<tr><th scope="row">Los Ángeles</th><td>08301</td><td>27.435</td><td>260</td><td>27.175</td><td>Parcial</td></tr>
<tr><th scope="row">Valdivia</th><td>14101</td><td>21.012</td><td>381</td><td>20.631</td><td>Parcial</td></tr>
<tr><th scope="row">Villarrica</th><td>09120</td><td>20.072</td><td>95</td><td>19.977</td><td>Completa</td></tr>
<tr><th scope="row">Santiago</th><td>13101</td><td>19.466</td><td>0</td><td>19.466</td><td>Completa</td></tr>
<tr><th scope="row">Arica</th><td>15101</td><td>20.159</td><td>1.137</td><td>19.022</td><td>Parcial</td></tr>
<tr><th scope="row">Iquique</th><td>01101</td><td>19.815</td><td>866</td><td>18.949</td><td>Completa</td></tr>
<tr><th scope="row">Temuco</th><td>09101</td><td>18.423</td><td>860</td><td>17.563</td><td>Parcial</td></tr>
<tr><th scope="row">Melipilla</th><td>13501</td><td>16.571</td><td>70</td><td>16.501</td><td>Parcial</td></tr>
<tr><th scope="row">Viña del Mar</th><td>05109</td><td>24.030</td><td>8.014</td><td>16.016</td><td>Parcial</td></tr>
<tr><th scope="row">Recoleta</th><td>13127</td><td>15.511</td><td>9</td><td>15.502</td><td>Completa</td></tr>
<tr><th scope="row">Calama</th><td>02201</td><td>15.460</td><td>249</td><td>15.211</td><td>Parcial</td></tr>
<tr><th scope="row">Coquimbo</th><td>04102</td><td>15.364</td><td>943</td><td>14.421</td><td>Parcial</td></tr>
<tr><th scope="row">Padre Las Casas</th><td>09112</td><td>14.383</td><td>22</td><td>14.361</td><td>Parcial</td></tr>
</tbody></table></div>
