{% assign entries = include.entries | default: site[include.collection] | where_exp: "post", "post.hidden != true" %}

{% if include.sort_by %}
  {% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% if include.sort_order == 'reverse' %}
  {% assign entries = entries | reverse %}
{% endif %}

{%- for post in entries -%}
  {% assign is_home_lcp = false %}
  {% if page.layout == 'home' and forloop.first %}
    {% assign is_home_lcp = true %}
  {% endif %}
  {% include archive-single.html type=include.type is_lcp=is_home_lcp %}
{%- endfor -%}
