---
layout: archive
---

{{ content }}

{% assign active_lang = site.active_lang | default: page.lang | default: site.default_lang | default: "es" %}
{% assign ui_text = site.data.ui-text[active_lang] | default: site.data.ui-text[site.locale] %}
<h3 class="archive__subtitle">{{ ui_text.recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="home__entries entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}

<div class="home__news">
  {% include news-widget.html %}
</div>
